/* Default variables */
/* light theme */
/* dark theme */
@font-face {
  font-family: "Anton SC";
  font-display: swap;
  src: url("../fonts/Anton.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter.woff2") format("woff2");
}
@font-face {
  font-family: "Gambetta";
  font-display: swap;
  src: url("../fonts/Gambetta.ttf") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  background-color: #F5F5F5;
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

::selection {
  background: rgba(255, 89, 0, 0.726);
}

figcaption {
  display: none;
}

.content-wrapper .big-card .story .heading, .heading span:first-child,
.heading span:last-child {
  font-family: "Gambetta", sans-serif;
  font-style: italic;
  font-size: clamp(2rem, 2.5vw, 3.2rem);
  color: rgba(14, 16, 17, 0.6);
}

h1, h2 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
}

#toggle-light {
  display: none;
}

.main-wrapper {
  max-width: 192rem;
  margin: 0 auto;
  position: relative;
  color: #0E1011;
  background-color: #FFFFFF;
}
.main-wrapper:has(#toggle-light:checked) {
  color: #ffffff;
  background-color: #0e1011;
}
.main-wrapper:has(#toggle-light:checked) .heading span:first-child,
.main-wrapper:has(#toggle-light:checked) .heading span:last-child,
.main-wrapper:has(#toggle-light:checked) .story .heading {
  color: rgba(255, 255, 255, 0.6);
}
.main-wrapper:has(#toggle-light:checked) .card-wrapper {
  background-color: #181a1b;
}
.main-wrapper:has(#toggle-light:checked) .card-wrapper:nth-child(2) {
  background-color: #0e1011;
}
.main-wrapper:has(#toggle-light:checked) .heading label {
  background-color: #F8F8F8;
  color: #181a1b;
}

.header-wrapper {
  padding: clamp(2rem, 5vw, 9.6rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(2rem, 3vw, 3.2rem) clamp(50rem, 70vw, 62.4rem);
  gap: clamp(2rem, 2vw, 9.6rem);
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: clamp(1.6rem, 1.5vw, 2rem);
}
.heading span:first-child {
  justify-self: start;
}
.heading span:last-child {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1vw, 2rem);
}
.heading label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: clamp(8rem, 10vw, 10rem);
  height: clamp(4rem, 5vw, 6rem);
  border-radius: clamp(1rem, 1.5vw, 1.5rem);
  position: fixed;
  top: clamp(1rem, 2vw, 2rem);
  background-color: #0E1011;
  color: #F8F8F8;
  opacity: 0.5;
}
.heading label svg {
  width: clamp(2rem, 5vw, 4rem);
  height: clamp(2rem, 5vw, 4rem);
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: clamp(1rem, 1vw, 1.6rem);
}
.description h1 {
  font-size: clamp(8rem, 10vw, 32rem);
  text-transform: uppercase;
}
.description p {
  max-width: 140rem;
  font-weight: 600;
  font-size: clamp(1.6rem, 1.8vw, 8rem);
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, clamp(80rem, 100vw, 108rem));
}
.content-wrapper .card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  background-color: #F8F8F8;
}
.content-wrapper .card-wrapper:nth-child(2) {
  flex-direction: row-reverse;
  background-color: #FFFFFF;
}
.content-wrapper .article-img {
  width: 100%;
  max-width: 80rem;
  min-height: clamp(80rem, 90vw, 108rem);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-wrapper .big-card {
  width: clamp(90rem, 100vw, 112rem);
  height: clamp(80rem, 90vw, 108rem);
  padding: clamp(4rem, 6vw, 12.8rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(30rem, 40vw, 38.4rem) clamp(10rem, 15vw, 14.8rem);
  gap: clamp(20rem, 25vw, 29.2rem);
}
.content-wrapper .big-card .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(20rem, 25vw, 26.6rem) clamp(8rem, 12vw, 11.2rem);
  gap: clamp(1rem, 1vw, 1.6rem);
}
.content-wrapper .big-card .content h2 {
  font-size: clamp(5rem, 5vw, 12.8rem);
  line-height: 100%;
  text-transform: uppercase;
  max-width: min-content;
}
.content-wrapper .big-card .content p {
  font-weight: 600;
  font-size: clamp(2rem, 2.5vw, 4rem);
  line-height: 140%;
  max-width: 77rem;
}
.content-wrapper .big-card .story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1rem, 2vw, 3.2rem);
}
.content-wrapper .big-card .story .description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: clamp(5rem, 8vw, 9.4rem);
}
.content-wrapper .big-card .story .text-left, .content-wrapper .big-card .story .text-right {
  font-weight: 600;
  font-size: clamp(2rem, 2.5vw, 3.2rem);
}
.content-wrapper .big-card .story .text-left {
  justify-self: start;
}
.content-wrapper .big-card .story .text-right {
  justify-self: end;
}

@media (max-width: 768px) {
  .header-wrapper {
    padding: 2rem;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .content-wrapper {
    grid-template-rows: auto;
    gap: 2rem;
  }
  .card-wrapper {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .article-img,
  .big-card {
    width: 100%;
    height: auto;
  }
  .big-card {
    padding: 2rem;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .big-card .content {
    grid-template-rows: auto auto;
  }
  .big-card .content h2 {
    max-width: 100%;
    font-size: clamp(3rem, 8vw, 6rem);
  }
  .big-card .story .description {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .big-card .story .text-right {
    justify-self: start;
  }
}

/*# sourceMappingURL=style.css.map */
