@font-face {
  font-family: 'Anton SC';
  font-display: swap;
  src: url('../fonts/Anton.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('../fonts/Inter.woff2') format('woff2');
}
@font-face {
    font-family: 'Gambetta';
    font-display: swap;
    src: url('../fonts/Gambetta.ttf') format('truetype');
}