$default-text: #0E1011;
$bg-main: #F8F8F8;
$bg-second: #FFFFFF;
$toggle-bg: #0E1011;
$toggle-color: #F8F8F8;
$body-color: #F5F5F5;
$text-color: #0E1011;
$text-color-muted: rgba(14, 16, 17, 0.6);
$selected-color: rgba(255, 107, 26, 0.3); 