@use "reset";
@use "variables";

@mixin flex($direction: row, $justify: center, $align: center, $gap: null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;

	@if $gap !=null {
		gap: $gap;
	}
}

@mixin grid($columns: 1fr, $rows: auto, $gap: null) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;

	@if $gap !=null {
		gap: $gap;
	}
}

:root {
	--text-color: #{variables.$text-color};
	--text-color-muted: #{variables.$text-color-muted};
	--bg-main: #{variables.$bg-main};
	--bg-second: #{variables.$bg-second};
    --toggle-bg: #{variables.$toggle-bg};
    --toggle-color: #{variables.$toggle-color};
}

input {
	display: none;
}

.bg-1 {background-image: url(../img/img1.png);}
.bg-2 {background-image: url(../img/img2.png);}
.bg-3 {background-image: url(../img/img3.png);}
h1, h2 {font-family: "Anton SC";font-style: normal;font-weight: 400;}

.main-wrapper {
	max-width: 192rem;
	margin: 0 auto;
	color: var(--text-color);
	background-color: var(--bg-second);
	position: relative;

	.header-wrapper {
		@include grid(1fr,clamp(2rem, 3vw, 3.2rem) clamp(50rem, 70vw, 62.4rem),clamp(2rem, 2vw, 9.6rem));
		padding: clamp(2rem, 5vw, 9.6rem);
		.heading {
			@include grid(1fr 1fr, 1fr);
			font-size: clamp(1.6rem, 1.5vw, 2rem);
			& span:first-child, & span:last-child {
				font-family: "Gambetta";
				font-style: italic;
				font-size: clamp(2rem, 2.5vw, 3.2rem);
				color: var(--text-color-muted);
			}
			& span:first-child {
				justify-self: left;
			}
			& span:last-child {
				justify-self: right;
				@include flex(row, center, center, clamp(1rem, 1vw, 2rem));
				label {
					@include flex(row, center, center);
					width: clamp(8rem, 10vw, 10rem);
					height: clamp(4rem, 5vw, 6rem);
					border-radius: clamp(1rem, 1.5vw, 1.5rem);
					position: fixed;
					top: clamp(1rem, 2vw, 20px);
					background-color: var(--toggle-bg);
                    color: var(--toggle-color);

					svg {
						width: clamp(20px, 5vw, 40px);
						height: clamp(20px, 5vw, 40px);
					}
				}
			}
		}
		.description {
			@include grid(1fr, 1fr 1fr, clamp(1rem, 1vw, 1.6rem));
			& h1 {
				font-size: clamp(8rem, 10vw, 32rem);
				text-transform: uppercase;
			}

			& p {
				max-width: 140rem;
				font-weight: 600;
				font-size: clamp(1.6rem, 1.8vw, 8rem);
			}
		}
	}
	.content-wrapper {
		@include grid(1fr, repeat(3, clamp(80rem, 100vw, 108rem)), 0);
		.card-wrapper {
			@include flex(row, center, center, clamp(1rem, 2vw, 2rem));
            background-color: var(--bg-main);
		}
		.card-wrapper:nth-child(2) {
			flex-direction: row-reverse;
            background-color: var(--bg-second);
		}
		.small-card {
			width: 100%;
			max-width: 80rem;
			min-height: clamp(80rem, 90vw, 108rem);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.big-card {
			width: clamp(90rem, 100vw, 112rem);
			height: clamp(80rem, 90vw, 108rem);
			padding: clamp(4rem, 6vw, 12.8rem);
			@include grid(1fr,clamp(30rem, 40vw, 38.4rem) clamp(10rem, 15vw, 14.8rem),clamp(20rem, 25vw, 29.2rem));
			.content {
				@include grid(1fr,clamp(20rem, 25vw, 26.6rem) clamp(8rem, 12vw, 11.2rem),clamp(1rem, 1vw, 1.6rem));
				& h2 {
					font-size: clamp(5rem, 5vw, 12.8rem);
					line-height: 100%;
					text-transform: uppercase;
					max-width: min-content;
				}
				& p {
					font-weight: 600;
					font-size: clamp(2rem, 2.5vw, 4rem);
					line-height: 140%;
					max-width: 77rem;
				}
			}
			.story {
				@include flex(column, center, null, clamp(1rem, 2vw, 3.2rem));
				.heading {
					font-family: "Gambetta";
					font-style: italic;
					font-size: clamp(2rem, 2.5vw, 3.2rem);
					color: var(--text-color-muted);
				}
				.description {
					@include grid(1fr 1fr, 1fr, clamp(5rem, 8vw, 9.4rem));
					& .left, & .right {
						justify-self: start;
						font-weight: 600;
						font-size: clamp(2rem, 2.5vw, 3.2rem);
					}
					& .right {justify-self: end;}
				}
			}
		}
	}
}

.main-wrapper:has(#toggle-light:checked) {
	--text-color: #ffffff;
	--text-color-muted: rgba(255, 255, 255, 0.6);
	--bg-main: #181a1b;
	--bg-second: #0e1011;
    --toggle-bg: #F8F8F8;
    --toggle-color: #181a1b;

}

@media (max-width: 768px) {
	.main-wrapper {
		.header-wrapper {
			grid-template-rows: auto auto;
			gap: 2rem;
			padding: 2rem;
			.heading {
				grid-template-columns: 1fr;
				text-align: center;
				span:last-child {
					justify-self: center;
					label {
						position: static;
						margin-top: 1rem;
					}
				}
			}

			.description {
				grid-template-rows: auto auto;
				text-align: center;
				h1 {
					font-size: clamp(4rem, 10vw, 8rem);
					line-height: 110%;
				}
				p {max-width: 100%;}
			}
		}
		.content-wrapper {
			grid-template-rows: auto;
			gap: 2rem;
			.card-wrapper {
				flex-direction: column;
				padding: 2rem 1rem;
			}
            .card-wrapper:nth-child(2) {flex-direction: column;}
			.small-card,
			.big-card {
				width: 100%;
				height: auto;
			}
			.big-card {
				padding: 2rem;
				grid-template-rows: auto auto;
				gap: 2rem;
				.content {
					grid-template-rows: auto auto;
					h2 {
						max-width: 100%;
						font-size: clamp(3rem, 8vw, 6rem);
					}
				}
				.story {
					.description {
						grid-template-columns: 1fr;
						gap: 1rem;
						.right { justify-self: start;}
					}
				}
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	.main-wrapper {
		.content-wrapper {
			gap: 3rem;
			.small-card,
			.big-card {
				width: 100%;
				height: auto;
			}
			.big-card { grid-template-rows: auto auto;}
		}
		.header-wrapper {padding: 4rem;}
	}
}