@use "reset";
@use "variables";

@mixin flex($direction: row, $justify: center, $align: center, $gap: null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	@if $gap != null {
		gap: $gap;
	}
}

@mixin grid($columns: 1fr, $rows: auto, $gap: null) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	@if $gap != null {
		gap: $gap;
	}
}

%heading {
	font-family: variables.$font-gambetta;
	font-style: italic;
	font-size: clamp(2rem, 2.5vw, 3.2rem);
	color: variables.$light-text-color-muted;
}

h1, h2 {
	font-family: variables.$font-anton;
	font-weight: 400;
}

#toggle-light {
	display: none;
}

.main-wrapper {
	max-width: 192rem;
	margin: 0 auto;
	position: relative;
	color: variables.$light-text-color;
	background-color: variables.$light-bg-second;

	&:has(#toggle-light:checked) {
		color: variables.$dark-text-color;
		background-color: variables.$dark-bg-second;

		.heading span:first-child,
		.heading span:last-child,
		.story .heading {
			color: variables.$dark-text-color-muted;
		}

		.card-wrapper {
			background-color: variables.$dark-bg-main;

			&:nth-child(2) {
				background-color: variables.$dark-bg-second;
			}
		}

		.heading label {
			background-color: variables.$dark-toggle-bg-color;
			color: variables.$dark-toggle-btn-color;
		}
	}
}

.header-wrapper {
	padding: clamp(2rem, 5vw, 9.6rem);
	@include grid(1fr,clamp(2rem, 3vw, 3.2rem) clamp(50rem, 70vw, 62.4rem),clamp(2rem, 2vw, 9.6rem));
}

.heading {
	@include grid(1fr 1fr, 1fr);
	font-size: clamp(1.6rem, 1.5vw, 2rem);

	span:first-child,
	span:last-child {
		@extend %heading;
	}
	span:first-child {
		justify-self: start;
	}
	span:last-child {
		justify-self: end;
		@include flex(row, center, center, clamp(1rem, 1vw, 2rem));
	}

	label {
		@include flex;
		width: clamp(8rem, 10vw, 10rem);
		height: clamp(4rem, 5vw, 6rem);
		border-radius: clamp(1rem, 1.5vw, 1.5rem);
		position: fixed;
		top: clamp(1rem, 2vw, 2rem);
		background-color: variables.$light-toggle-bg-color;
		color: variables.$light-toggle-btn-color;
		opacity: 0.5;

		svg {
			width: clamp(2rem, 5vw, 4rem);
			height: clamp(2rem, 5vw, 4rem);
		}
	}
}

.description {
	@include grid(1fr, 1fr 1fr, clamp(1rem, 1vw, 1.6rem));
	h1 {
		font-size: clamp(8rem, 10vw, 32rem);
		text-transform: uppercase;
	}
	p {
		max-width: 140rem;
		font-weight: 600;
		font-size: clamp(1.6rem, 1.8vw, 8rem);
	}
}

.content-wrapper {
	@include grid(1fr, repeat(3, clamp(80rem, 100vw, 108rem)));
	.card-wrapper {
		@include flex(row, center, center, clamp(1rem, 2vw, 2rem));
		background-color: variables.$light-bg-main;

		&:nth-child(2) {
			flex-direction: row-reverse;
			background-color: variables.$light-bg-second;
		}
	}

	.article-img {
		width: 100%;
		max-width: 80rem;
		min-height: clamp(80rem, 90vw, 108rem);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.card-content {
		width: clamp(90rem, 100vw, 112rem);
		height: clamp(80rem, 90vw, 108rem);
		padding: clamp(4rem, 6vw, 12.8rem);
		@include grid(1fr,clamp(30rem, 40vw, 38.4rem) clamp(10rem, 15vw, 14.8rem),clamp(20rem, 25vw, 29.2rem));
		.content {
			@include grid(1fr,clamp(20rem, 25vw, 26.6rem) clamp(8rem, 12vw, 11.2rem),clamp(1rem, 1vw, 1.6rem));

			h2 {
				font-size: clamp(5rem, 5vw, 12.8rem);
				line-height: 100%;
				text-transform: uppercase;
				max-width: min-content;
			}

			p {
				font-weight: 600;
				font-size: clamp(2rem, 2.5vw, 4rem);
				line-height: 140%;
				max-width: 77rem;
			}
		}

		.story {
			@include flex(column, center, null, clamp(1rem, 2vw, 3.2rem));
			.heading {
				@extend %heading;
			}

			.description {
				@include grid(1fr 1fr, 1fr, clamp(5rem, 8vw, 9.4rem));
			}

			.text-left, .text-right {
				font-weight: 600;
				font-size: clamp(2rem, 2.5vw, 3.2rem);
			}
			.text-left {
				justify-self: start;
			}
			.text-right {
				justify-self: end;
			}
		}
	}
}

@media (max-width: 768px) {
	.header-wrapper {
		padding: 2rem;
		grid-template-rows: auto auto;
		gap: 2rem;
	}
	.content-wrapper {
		grid-template-rows: auto;
		gap: 2rem;
	}

	.card-wrapper {
		flex-direction: column;
		padding: 2rem 1rem;
	}
	.article-img,
	.card-content {
		width: 100%;
		height: auto;
	}

	.card-content {
		padding: 2rem;
		grid-template-rows: auto auto;
		gap: 2rem;

		.content {
			grid-template-rows: auto auto;
			h2 {
				max-width: 100%;
				font-size: clamp(3rem, 8vw, 6rem);
			}
		}

		.story .description {
			grid-template-columns: 1fr;
			gap: 1rem;
		}
		.story .text-right {
			justify-self: start;
		}
	}
}