* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --light-white: #F5F5F5;
    --gray: #6E798C;
    --light-gray: #A5ADBB;
    --red: #F8593B;
    --black: #081F32;
    --light-green: #2ECC71;
    --dark-green: #29b664;
}

@font-face {
    font-family: 'DM Serif Display'; 
    src: url('../fonts/DMSerifDisplay-Regular.ttf'); 
    font-display:swap;
    font-weight: normal;
    font-style: normal;
    text-decoration:none;
}

body {
    background-color: var(--light-white);
    font-family: 'Open Sans';
}

header, footer {
    text-align: center;
    padding: 20px 20px;
}

main {
    max-width: 1240px;
    margin: 0 auto;
    height: auto;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 24px;

        .food-item {
            width: 360px;
            height: 528px;
            background-color: var(--white);
            border-radius: 16px;

            figure {
                display: grid;

                > * {
                    grid-area: 1 / 1;
                }
                .food-image {
                    width: 100%;
                    height: 216px;
                }
                .info-icon {
                    place-self: start end;
                    cursor: pointer;
                }
                figcaption {
                    display: none;
                }
            }
            
            .food-details {
                padding: 24px 32px;

                .food-title {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        font-size: 24px;
                        font-family: 'DM Serif Display', serif;
                        font-weight: 400;
                        letter-spacing: 0.01em;
                    }
                }
                .food-info {
                    padding: 24px 0;

                    p {
                        font-size: 16px;
                        line-height: 25px;
                        color: var(--gray);
                        height: 70px;
                    }

                    .information {
                        display: flex;
                        justify-content: space-between;
                        padding: 24px 0;

                        span {
                            font-weight: 600;
                            font-size: 16px;
                            color: var(--light-gray);
                        }
                    }
                    .price-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: 'DM Serif Display', serif;
                        font-style: normal;
                        margin-top: 30px;

                        .price_now {
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 25px;
                            color: var(--black);
                        }
                        .price_old {
                            font-size: 20px;
                            text-decoration-line: line-through;
                            color: var(--red);
                        }
                        button {
                            width: 114px;
                            height: 44px;
                            border: 0;
                            background-color: var(--light-green);
                            color: var(--white);
                            border-radius: 4px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 25px;
                            letter-spacing: 0.18em;
                            cursor: pointer;

                            &:hover {
                                background-color: var(--dark-green);
                            }
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                width: 100%;
                max-width: 360px;
                height: auto;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
}