* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --dark: #13183F;
    --gray-dark: #666CA3;
    --gray: #83869A;
    --pink: #F02AA6;
    --pink-red: #F74780;
    --pink-light: #FFA7C3;
    --orange: #FF6F48;
    --radius-pill: 28px;
    --radius-card: 15px;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 800;
  font-display: swap;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.header-wrapper, .footer-wrapper {
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;
    min-height: 60px;
    align-items: center;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    min-height: 59px;
    padding: 16px 32px;
    white-space: nowrap;
    background: var(--dark);
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
}

.get-started:hover {
    background-color: var(--gray-dark);
}

.header-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    height: 560px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    padding: 64px 0;
}

.hero-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 457px;
    min-height: 240px;
    gap: 24px;
}

.hero-description .title {
    font-weight: 800;
    font-size: 56px;
    line-height: 120%;
    color: var(--dark);
}

.hero-description .description {
    min-height: 81px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray);
}

.hero-get-started {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 168px;
    height: 59px;
    padding: 16px 32px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    color: var(--white);
}

.hero-get-started:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.hero-illustration {
    width: 544px;
    height: 560px;
    position: relative;
    isolation: isolate;
}

.hero-illustration .preview {
    position: absolute;
    width: 317px;
    height: 560px;
    left: 168px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 158.5px;
    overflow: hidden;
    z-index: 1;
}

.hero-illustration .info-l {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 179px;
    left: 48px;
    top: 353px;
    background: var(--white);
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    z-index: 3;
    flex-direction: column;
    padding: 20px;
}

.hero-illustration .info-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 155px;
    left: 445px;
    top: 123px;
    background: var(--white);
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    z-index: 3;
    flex-direction: column;
    padding: 20px;
}

.hero-illustration .info-l .title {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    color: var(--gray);
}

.hero-illustration .info-l .descr {
    font-weight: 800;
    font-size: 40px;
    display: flex;
}

.hero-illustration .info-2 .title {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    color: var(--gray);
}

.hero-illustration .info-2 .descr {
    font-weight: 800;
    font-size: 40px;
    display: flex;
}

.hero-illustration img {
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.hero-gradient {
    position: absolute;
    width: 317px;
    height: 1608px;
    left: 50%;
    top: 0;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 158.5px;
    transform: translate(110%, -54%) rotate(45deg);
    z-index: 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    min-height: 950px;    
}

.content-wrapper .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 32px;
    max-width: 1120px;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.content .item {
    width: 352px;
    height: 322px;
    padding: 64px 32px 40px;
    background: var(--white);
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    position: relative;
    margin-top: 30px;
}

.content .item:first-child {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
}

.content .item .banner {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--white);
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
}

.item-icon {
    position: absolute;
    width: 88px;
    height: 56px;
    top: -28px;
}

.item-content .item-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: var(--dark);
}

.item-content .item-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    min-height: 120px;
}

.item-more {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--pink-red);
    text-decoration: none;
}

.item-more:hover {
    color: var(--pink-light);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    background: var(--dark);
    margin-top: 60px;
}

.footer .get-started {
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}
.footer .get-started:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

@media (max-width: 1024px) {
    .header-wrapper,
    .hero-content,
    .footer-wrapper,
    .content-wrapper .content {
        padding: 24px;
    }

    .header-hero {
        height: auto;
    }

    .hero-content {
        flex-direction: column;
        gap: 64px;
        padding: 64px 0;
    }

    .hero-description {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero-description .title {
        font-size: 48px;
    }

    .hero-description .description {
        max-width: 520px;
    }

    .hero-get-started {
        align-self: center;
    }

    .hero-illustration {
        width: 100%;
        height: 500px;
    }

    .hero-gradient {
        width: 280px;
        height: 900px;
        left: 50%;
        top: 50%;
        transform: translate(28%, -59%) rotate(45deg);
        border-radius: 140px;
    }

    .hero-illustration .preview {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-illustration img {
        left: 50%;
        transform: translateX(-50%);
    }

    .content-wrapper .content {
        justify-content: center;
    }

    .content .item {
        width: calc(50% - 16px);
    }
    .hero-illustration .info-l {
        left: 20%;
    }
    .hero-illustration .info-2 {
        left: 60%;
    }
}

@media (max-width: 768px) {
    .header-wrapper {
        padding: 16px;
    }

    .hero-content {
        padding: 48px 16px;
        gap: 48px;
    }

    .hero-description .title {
        font-size: 40px;
        line-height: 110%;
    }

    .hero-description .description {
        font-size: 16px;
    }

    .hero-illustration {
        height: 420px;
    }

    .hero-gradient {
        width: 240px;
        height: 720px;
        left: 50%;
        top: 50%;
        transform: translate(21%, -61%) rotate(45deg);
        border-radius: 120px;
    }

    .hero-illustration .preview {
        width: 260px;
        height: 420px;
        border-radius: 130px;
    }

    .hero-illustration img {
        width: 240px;
    }

    .content-wrapper .content {
        padding: 48px 16px;
    }

    .content .item {
        width: 100%;
        height: auto;
    }

    .item-content .item-description {
        min-height: auto;
    }
    
    .hero-illustration .info-l {
        left: 0;
        top: 275px;
    }
    .hero-illustration .info-2 {
        left: 60%;
        top: 0;
    }
    
    .footer-wrapper {
        padding: 16px;
    }
}